.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1000px;
}
.parallax { 
    background-image: url("http://img.autobytel.com/car-reviews/autobytel/11694-good-looking-sports-cars/2016-Ford-Mustang-GT-burnout-red-tire-smoke.jpg");
    height: 500px;
    width: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
